@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>
                This is me. I am 20 years of age and I am studying at the University Of Pretoria.
                I am Studying BIT Information Systems and I am eager to learn. I am currently in
                my second year and I am really looking forward to completing my degree in time.
                I am also currently a part time music producer and dj visit my youtube page using
                the button link below. I have been in the music industry for a period of two years
                and i have really found it interesting on working on projects with other people and
                also learning new skills at the same time. There is a lot I can say about my self and
                why I am who I am today, but i'll leave it there for now
            </p>
        </div>
        <div class="col-sm-6">
            <center><img src="~/BioImage/Mila.jpg" alt="myIMG" width="50%" style="border-radius:60px;" /></center>
        </div>
    </div>
</div>
