@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@{
   
    var bDate = 2002;

    var currentdate = Convert.ToInt32(DateTime.Now.Year);
 
    var myage = currentdate - bDate;
}

<style>
    img {
        box-shadow: 1px 3px 25px 6px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 3px 25px 6px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 3px 25px 6px rgba(0,0,0,0.75);
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4>Place of Birth</h4>
            <p>
                Mila Mbopha was born in the Eastern Cape in the Town of Umthatha on 23 May 2002, born in the small Ebeneza Clinic.
                He is the last born at home, with One brother who comes before him, preceding him by 2 years.
                Mila grew up in the small village of Mvuzi, Mhlokwana which is situated just a few kilometers away from
                the town of Mount Frere in the Eastern Cape.
            </p>
            <br />
            <h4>Studies</h4>
            <p>
                Mila started schooling in Mt Frere, where he attended Mount Frere Community School for his first 2 years of school
                before moving to the town of Port Edward in the Southern Kwazulu-Natal where he attended Port-Edward pre-School and
                Primary school, till he reached grade 4, where he then moved to Ramsgate in Kwazulu-Natal, and continued the rest of
                his primary at South City Christian Schools till he completed Grade 6. Thereafter he recieved a bursary for rugby at
                Creston College in Oslo Beach, Port Shepstone where he finished of grade 7 and moved into his highschool. He completed
                his Matric at Creston College with a Bachelors Degree pass in the year of 2020, Then continued with his persual of a 
                BIT Information Systems Degree at the University of Pretoria.
                Mila is currently @myage years of age and he is studying at the University Of Pretoria in Gauteng, South Africa.
                He is studying BIT Information Systems. he is currently in
                his second year and really looking forward to completing his degree in time, so he can continue with studies to obtain
                His Honours and Maters in Information Systems.
            </p>
            <br />
            <h4>My music career</h4>
            <p>
                Also know as Dj M-Nza, Mila is a Dj, music artist and producer from South Africa, Born in the Eastern cape.
                He produces music in the genre of house, Dance and amapiano working solely to amuse and let the people enjoy
                the majestic sounds and combinations of musical instruments created by him. He has been in the music industry
                for the last two years and has since grown in his talent, and reaching out to a currently growing fan base. This
                can be attested by his latest amapiano single released on 15 April 2022, which has gone over 50 000 streams world
                wide within one month. comparing this to his previouse releases, We can certaily say that there has been a great
                increase in fan base. He is a growing musician with bright musical future ahead of him, and he is always open to
                work with other musicians in growing his talent and skill in the industry.
            </p>
        </div>
        <div class="col-sm-6">
            <center>
                <h3>Mila Mbopha</h3>
                <img src="~/BioImage/Mila.jpg" alt="myIMG" width="60%" style="border-radius:60px;" />
                <br /><br />
                <p>Full Name: Mila Mbopha</p>
                <p>Age: @myage</p>
                <p>Occupation: Student</p>
                <p>Year of Study: 2</p>
                <p>Institution: University of Pretoria</p>
                <p>Partime Job: Musician, Artist</p>
            </center>
        </div>
    </div>
</div>
