@{
    ViewBag.Title = "Home Page";
}



<h1>Mac Media</h1>
<h4>About my application</h4>

<div class="row">
    <div class="col-sm-8">
        <h4>Description</h4>
        <p>
            This is a media upload application, which will allow the user to select the media file type from the home page and upload
            their media, which will then be save in the applicatioon solution. the differnt types or media files that can be uploaded
            are; document files, videos and images. These media files can then be viewed on differnt pages with their respective information.
            The files can be deleted or downloaded from their specific pages that they are viewed on in the mvc application.
        </p>
    </div>

    <div class="col-sm-4">
        <h4>Option Selection</h4><br />
            <div class="form">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label>Document</label> <input type="radio" name="fileTypeRad" id="doc" value="Document" /><br />
                    <label>Image</label> <input type="radio" name="fileTypeRad" id="image" value="Image" /><br />
                    <label>Video</label> <input type="radio" name="fileTypeRad" id="vid" value="Video" /><br /><br />

                    <input type="file" name="uploadFileOpt" /><br />
                    <input type="submit" name="submit" value="Upload" />

                }
            </div>
    </div>
</div>
