
@{
    ViewBag.Title = "Videos";
}

<h2>Videos</h2>
<p>....Media/Images/</p>

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</div>

