
@using u21589276_HW03.Models
@model List<FileModel>


@{
    ViewBag.Title = "Image";
}

<h2>Image Files</h2>
<p>...Media/Images</p>

<br />
<div class="row" style="background-color: lightgrey; padding:20px; grid-row-gap:20px">

    @foreach (FileModel file in Model)
    {
        <div class="col-sm-4">
            <div class="card" style="width: 30rem;">
                <a href="~/Media/Images/@file.FileName" data-fancybox="group" data-caption="This image has a caption 1">
                    <img src="~/Media/Images/@file.FileName" alt="img" width="100%" />
                </a>
                <div class="card-body">
                    <p>@file.FileName</p>

                    <button style="background-color: green; border-color: black; border-width: 0.1pt; border-radius: 10px; text-decoration: none;">
                        @Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName })
                    </button>&nbsp;
                    <button style="background-color: palevioletred; border-color: black; border-width: 0.1pt; border-radius: 10px; text-decoration:none; ">
                        @Html.ActionLink("DELETE", "DeleteFile", new { fileName = file.FileName },
                        new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $('[data-fancybox]').fancybox({
        buttons: [
            'close'
        ],

        wheel: false,
        transitionEffect: "slide",
        loop: true,
        toolbar: false,      
        clickContent: false
    });
</script>