@*
    @model IEnumerable<u21589276_HW03.Models.FileModel>
*@


@using u21589276_HW03.Models
@model List<FileModel>

@{
    ViewBag.Title = "Files";
}

<style>
    .btnDel {
        width: 100px;
        height: 30px;
        background-color: palevioletred;
        border-width: 0.1pt;
        border-radius: 5px;
        border-style: solid;
        border-color: palevioletred;
    }

        .btnDel:hover {
            box-shadow: 2px 0px 33px 0px rgba(240,0,0,0.75);
            -webkit-box-shadow: 2px 0px 33px 0px rgba(240,0,0,0.75);
            -moz-box-shadow: 2px 0px 33px 0px rgba(240,0,0,0.75);
            border-color: red;
            transition: ease-in 0.2s;
        }

    .btnDownload {
        width: 100px;
        height: 30px;
        background-color: #4CAF50;
        border-style: solid;
        border-color: #4CAF50;
        border-width: 0.1pt;
        border-radius: 5px;
    }

        .btnDownload:hover {
            box-shadow: 2px 0px 33px 0px rgba(46,222,125,0.75);
            -webkit-box-shadow: 2px 0px 33px 0px rgba(46,222,125,0.75);
            -moz-box-shadow: 2px 0px 33px 0px rgba(46,222,125,0.75);
            border-color: green;
            transition: ease-in 0.2s;
        }
</style>

<h2>Files</h2>
<p>...u21589276_HW03/Media</p>

<table class="table table-condensed table-hover">
    <thead style="position: sticky;top: 0">
        <tr bgcolor="black" style="color:white;" class="auto-style">
            <th class="col-lg-8">File Name</th>
            <th class="t, col-lg-2">DOWNLOAD</th>
            <th class="t, col-lg-2">DELETE</th>
        </tr>
    </thead>
    @foreach (FileModel file in Model)
    {
        <tr>
            <td>@file.FileName</td>
            <td>
                <button class="btnDownload">
                    @Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName }, new { @style = "text-decoration:none; color: White" })
                </button>
            </td>
            <td>
                <button class="btnDel">
                    @Html.ActionLink("DELETE", "DeleteFile",
                    new { fileName = file.FileName },
                    new { @style = "text-decoration:none; color: White" })
                </button>
            </td>
        </tr>
    }
</table>