@*
    @model IEnumerable<u21589276_HW03.Models.FileModel>
*@


@using u21589276_HW03.Models
@model List<FileModel>

@{
    ViewBag.Title = "Files";
}

<h2>Files</h2>

<table class="table table-condensed table-hover">
    <thead style="position: sticky;top: 0">
        <tr bgcolor="black" style="color:white;" class="auto-style">
            <th class="col-lg-8">File Name</th>
            <th class="t, col-lg-2">DOWNLOAD</th>
            <th class="t, col-lg-2">DELETE</th>
        </tr>
    </thead>
    @foreach (FileModel file in Model)
    {
        <tr>
            @*
                Default >> @Html.DisplayFor(modelItem => file.FileName)
            *@

            <td>@file.FileName</td>
            <td>
                <button style="background-color: lightgreen; border-color:black;">
                    @Html.ActionLink("Download", "DownloadFile",
                     new { fileName = file.FileName })
                </button>
            </td>
            <td>
                <button style="background-color:palevioletred ; border-color:black;">
                   @Html.ActionLink("DELETE", "DeleteFile",
                   new { fileName = file.FileName },
                   new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                </button>
            </td>
        </tr>
    }
</table>